<?xml version="1.0" encoding="UTF-8"?>

<!--  status="warn"日志框架本身的输出日志级别
      monitorInterval="5"自动加载配置文件的时间间隔不低于5s
-->

<Configuration status="debug" monitorInterval="5">


    <!--日志处理器-->
     <Appenders>      
        <!--控制台输出appender target="SYSTEM_OUT"--> 
        <Console name="Console" target="SYSTEM_ERR">            
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c  %M %L [%thread] ==== %m %n" />        
        </Console>

       </Appenders>    

    <!--logger的定义-->
    <Loggers>      

        <!--使用RootLogger配置，日志级别是trace--> 
        <Root level="trace">            
            <!--指定日志使用的处理器-->
            <AppenderRef ref="Console" />

        </Root>    
    </Loggers>
</Configuration>